<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>모임</title>
    <th:block th:fragment="insertHead">
        <script
                src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
                crossorigin="anonymous"></script>
        <script src="/js/club/getParam.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){



            });
        </script>
    </th:block>


</head>

<body>

<main>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">모임</li>
                <li class="breadcrumb-item active" aria-current="page">모임 상세보기</li>
                <li class="breadcrumb-item active" aria-current="page">모임 내 게시판 리스트</li>
                <li class="breadcrumb-item active" aria-current="page">모임 내 게시판 상세보기</li>
            </ol>
        </nav>
        <h2 class="mb-2">모임 내 게시판 상세보기</h2>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-bottom: 20px;">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/club/detail?clubName='+getClubName();+''">메인</button>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/club/board/list?clubName='+getClubName();+''">게시판</button>
                    <button type="button" onclick="location.href='/club/schedule/list?clubName='+getClubName();+''"  class="btn btn-outline-primary">일정</button>
                </div>

            </div>

        <div>
            <h2 th:text="${clubBoardDto.title}"></h2>
            <p th:text="${clubBoardDto.content}"></p>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 500px;">
            <div class="carousel-indicators">
                <th:block th:each="item, num : ${uploadImageList}">
                        <button type="button" th:attr="data-bs-target='#carouselExampleIndicators', data-bs-slide-to=${num.index}, class=${num.index == 0} ? 'active' : ''"
                                aria-current="${num.index == 0 ? 'true' : 'false'}"></button>
                </th:block>
            </div>
            <div class="carousel-inner">
                <th:block th:each="item, num : ${uploadImageList}">
                    <div th:classappend="${num.index == 0} ? 'carousel-item active' : 'carousel-item'">
                        <img th:src="@{/images/{storedImageName}(storedImageName=${item.storedImageName})}" class="d-block w-100" alt="..." width="214px" height="400px">
                    </div>
                </th:block>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</main>
</body>
</html>