<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>모임</title>
    <th:block th:fragment="insertHead">
        <script
                src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
                crossorigin="anonymous"></script>
        <script src="/js/club/getParam.js"></script>
        <script src="/js/club/page.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                $("#createGo").click(function(){
                    location.href='create';
                });

                getList();
            });

            function getList(nowPage) {
                $('#clubTableDiv').html('');

                let searchSel = 'title';
                let keyword = $('#keyword').val();

                $.ajax({
                    type : "GET",
                    url : "/club/board/getList",
                    dataType : "json",
                    data : {'searchValue' : searchSel, 'keyword' : keyword, 'nowPage' : nowPage, 'clubName' : getClubName()},
                    success : function(result) {
                        let template = '';
                                for (var i = 0; i < result.viewAll.length; i++) {

                                let imageStr = result.viewAll[i].imageStr;
                                if (imageStr === null || imageStr == '' || imageStr === undefined) {
                                    imageStr = '/images/club/imgAdd.jpg';
                                } else {
                                    imageStr = '/images/' + result.viewAll[i].imageStr;
                                }
                                template += `
                                     <div class="col">
                                        <a class="page-link" href="/club/board/detail?clubName=${result.viewAll[i].clubName}&clubBoardId=${result.viewAll[i].clubBoardId}">
                                            <div class="card h-100">
                                                <img src="${imageStr}" class="card-img-top" onerror=this.src="/images/club/imgAdd.jpg" width="214px" height="300px">
                                                <div class="card-body">
                                                    <h5 class="card-title">${result.viewAll[i].title}</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                `;
                                }
                                getpaging(result);
                                $('#clubTableDiv').append(template);

                                }


                            });
                        }


        </script>
    </th:block>


</head>

<body>

<main>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">모임</li>
                <li class="breadcrumb-item active" aria-current="page">모임 상세보기</li>
                <li class="breadcrumb-item active" aria-current="page">모임 내 게시판 리스트</li>
            </ol>
        </nav>
        <h2 class="mb-2">모임 내 게시판 리스트</h2>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-bottom: 20px;">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/club/detail?clubName='+getClubName();+''">메인</button>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/club/board/list?clubName='+getClubName();+''">게시판</button>
                    <button type="button" onclick="location.href='/club/schedule/list?clubName='+getClubName();+''"  class="btn btn-outline-primary">일정</button>
                </div>
            </div>
            <div class="d-md-flex justify-content-md-end">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 300px;" id="keyword">
                    <button class="btn btn-outline-success" type="submit" onclick="getList(1);">검색</button>
            </div>

        <div class="row row-cols-1 row-cols-md-3 g-4" id="clubTableDiv">

        </div>
        <br>
        <div class="d-md-flex justify-content-md-end">
            <th:block th:if="${userInCheck == 1}">
                <button type="button" class="btn btn-primary" onclick="location.href='/club/board/create?clubName='+getClubName();+''">글 작성</button>
            </th:block>
        </div>
        <div class="pagination justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">

                </ul>
            </nav>
        </div>
    </div>


</main>
</body>
</html>