<!DOCTYPE html>
<html th:fragment="layout (title, content, insertHead)" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/layout/main/main.css">
    <title th:replace="${title}">타이틀</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    <th:block th:replace="${insertHead}"></th:block>
</head>
<body>
<header class="container mt-2">
  <nav class="main-nav">
    <a href="/" class="logo"><img src="/images/common/logo.png" alt="오이마켓"></a>
    <ul class="nav gap-2 justify-content-end mb-5">
      <li sec:authorize="isAnonymous()" class="nav-item"><a href="/login" class="btn btn-outline-primary">로그인</a></li>
      <li sec:authorize="isAnonymous()" class="nav-item"><a href="/join" class="btn btn-primary">회원가입</a></li>
      <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/logout" class="btn btn-outline-primary">로그아웃</a></li>
      <li sec:authorize="isAuthenticated()" class="nav-item"><a href="" class="btn btn-primary">마이페이지</a></li>
    </ul>
    <ul class="nav nav-pills gap-0 gap-sm-2 d-flex justify-content-center">
      <li class="nav-item"><a href="/" class="nav-link">거래</a></li>
      <li class="nav-item">
        <a href="/half/list" class="nav-link"
                              th:classappend="${uri.contains('/half/') ? 'active' : ''}"
        >반값판매</a>
      </li>
      <li class="nav-item">
        <a href="/club/main" class="nav-link"
                              th:classappend="${uri.contains('/club/') ? 'active' : ''}"
        >모임</a>

      </li>
    </ul>
  </nav>
</header>
<main th:replace="${content}">
    템플릿메인
</main>
<footer class="bg-o2 main-footer py-5 mt-5">
    <div class="container">
        <img class="footer-logo mb-2" src="/images/common/logo.png" alt="로고">
        <div class="d-flex align-items-center gap-1 mb-2 fw-bold">
            <small>O2</small>
            <a href="https://github.com/cheoljundev/o2-market" target="_blank"><img class="icon"
                                                                                    src="/images/common/github.png"
                                                                                    alt="깃허브"></a>
            <a href="/" target="_blank"><img class="icon" src="/images/common/ppt.png" alt="PPT"></a>
        </div>
        <ul class="list-unstyled d-flex gap-2">
            <li>
                <a href="https://github.com/ehdtka" target="_blank" class="d-flex align-items-center gap-1">남동석<img
                        class="icon" src="/images/common/github.png" alt="깃허브"></a>
            </li>
            <li>
                <a href="https://github.com/cheoljundev" target="_blank" class="d-flex align-items-center gap-1">김철준<img
                        class="icon" src="/images/common/github.png" alt="깃허브"></a>
            </li>
            <li>
                <a href="https://github.com/ahnjinwon" target="_blank" class="d-flex align-items-center gap-1">안진원<img
                        class="icon" src="/images/common/github.png" alt="깃허브"></a>
            </li>
            <li>
                <a href="https://github.com/JonggwanMoon" target="_blank"
                   class="d-flex align-items-center gap-1">문종관<img class="icon" src="/images/common/github.png"
                                                                   alt="깃허브"></a>
            </li>
        </ul>
        <p class="fw-lighter">O2 &copy; 2024. All rights reserved.</p>
    </div>
</footer>
</body>
</html>