<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>회원가입</title>
    <th:block th:fragment="insertHead">
        <link rel="stylesheet" type="text/css" href="../static/css/login/loginpage.css" th:href="@{/css/login/loginpage.css}">
        <link rel="stylesheet" type="text/css" href="../static/css/login/joinpage.css" th:href="@{/css/login/joinpage.css}">
    </th:block>
</head>
<body>
<main>
    <div class="join-container">
        <form action="/join" method="post">
            <h1>회원가입.</h1>
            <div class="form__group field">
                <label for="userId" class="form__label">아이디</label>
                <input type="text" id="userId" name="id" class="form__field" required>
            </div>
            <div class="form__group field">
                <!-- id로 css, 자바스크립트 연결 가능-->
                <!-- name 속성은 이후 자바 객체와 매핑될 이름 -->
                <label for="userPw" class="form__label">비밀번호</label>
                <input type="password" id="userPw" name="password" class="form__field" required>
            </div>
            <div class="form__group field">
                <!-- id로 css, 자바스크립트 연결 가능-->
                <label for="userPwCheck" class="form__label">비밀번호 확인</label>
                <input type="password" id="userPwCheck" name="passwordCheck" class="form__field" required>
            </div>
            <div class="form__group field">
                <label for="userName" class="form__label">이름</label>
                <input type="text" id="userName" name="name" class="form__field" required>
            </div>
            <div class="form__group field">
                <label for="userPhone" class="form__label">전화번호</label>
                <input type="text" id="userPhone" name="phoneNumber" class="form__field" required>
            </div>
            <div class="form__group field">
                <label for="userAddress" class="form__label">주소</label>
                <input type="text" id="userAddress" name="address" class="form__field" required>
            </div>
            <div class="form__group field">
                <label class="form__label">프로필 사진</label>
                <img src="" alt="image" class="input-image">
            </div>
            <button type="submit" class="btn btn-light">회원가입</button>
        </form>
    </div>
</main>
</body>
</html>