<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>마이 페이지</title>
    <th:block th:fragment="insertHead">
        <script src="/js/mypage/buylist.js"></script>
    </th:block>
</head>
<body>
<main>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-３">
                <h1>구매 목록</h1>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" href="/member/myPage_buyList" class="btn btn-primary">구매</a>
                    <a type="button" href="/member/myPage_sellList" class="btn btn-primary">판매</a>
                    <a type="button" href="/member/myPage_interestList" class="btn btn-primary">관심</a>
                    <a type="button" href="/member/myPage_clubList" class="btn btn-primary">모임</a>
                </div>
            </div>
            <div class="col-lg-３">
            </div>
            <div class="col-lg-３">
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 10px">
        <table class="table table-striped" style="text-align: center">
            <thead>
            <tr>
                <th>번호</th>
                <th>구매일자</th>
                <th>상품명</th>
                <th>금액</th>
                <th>송장번호</th>
                <th>상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}" class="align-middle">
                <td th:text="${order.orderNo}">1</td>
                <td th:text="${{order.createAt}}">2024-07-01</td>
                <td th:text="${{order.title}}">상품명</td>
                <td th:text="${{order.price}}">5,000</td>
                <td th:text="${{order.invoice}}">123412341234</td>
                <td>

                    <span th:if="${order.state != '배송중'}" th:text="${order.state}">배송상태</span>
                    <button th:if="${order.state == '배송중'}" th:attr="data-orderno=${order.orderNo}" class="btn btn-primary" onclick="confirmOrder(this)">구매확정</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
