<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>마이 페이지</title>
    <th:block th:fragment="insertHead">
    </th:block>
</head>
<body>
<main>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-３">
                <h1>관심 목록</h1>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" href="/member/myPage_buyList" class="btn btn-primary">구매</a>
                    <a type="button" href="/member/myPage_sellList" class="btn btn-primary">판매</a>
                    <a type="button" href="/member/myPage_interestList" class="btn btn-primary">관심</a>
                    <a type="button" href="/member/myPage_clubList" class="btn btn-primary">모임</a>
                </div>
            </div>
            <div class="col-lg-３">
            </div>
            <div class="col col-lg-３">
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 10px">
        <table class="table table-striped" style="text-align: center">
            <thead>
            <tr>
                <th style="background-color: #00b040; text-align: center">번호</th>
                <th style="background-color: #00b040; text-align: center">제목</th>
                <th style="background-color: #00b040; text-align: center">금액</th>
                <th style="background-color: #00b040; text-align: center">승인여부</th>
                <th style="background-color: #00b040; text-align: center">거래여부</th>
                <th style="background-color: #00b040; text-align: center">등록날짜</th>
            </tr>
            </thead>
            <tbody>
            <div class="col" th:each="trade, index : ${mainlist}">
                <tr>
                    <td th:text="${index.index+1}">번호</td>
                    <td style="text-align: center;">
                        <a style="text-decoration: none;" th:href="@{/trade/trade_detail(tradeNo=${trade.tradeNo})}" th:text="${trade.title}"></a>
                    </td>
                    <td th:text="${trade.price}">금액</td>
                    <td th:text="${trade.approve=='Y'}?'승인':'거절'">승인여부</td>
                    <td th:text="${trade.isTrade=='E'?'거래완료':'미거래'}">거래여부</td>
                    <td th:text="${trade.postDate}">날짜</td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
