html{
    height: 100%;
}
body{
    height: 100%;
}
body > div{
    min-height: 100%;
}
aside{
    min-height: 100%;
}

.logo{
    display: block;
    width: 50px;
    filter: grayscale(1);
}
.logo img{
    width: 100%;
}

.admin-nav img{
    width: 100px;
}