<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2.site.trade.dao.TradeMapper">

    <insert id="insertApp" useGeneratedKeys="true" keyProperty="tradeNo" keyColumn="TRADE_NO">
        INSERT INTO TRADE_BOARD
        VALUES (
            SEQ_TRADE_TRADE_NO.NEXTVAL,
            2,
            #{title},
            #{category},
            #{content},
            default,
            #{price},
            #{address},
            default,
            default,
            default
        )
    </insert>

    <select id="selectMainList" resultType="com.o2.site.trade.dto.TradeMainDto">
        SELECT TRADE_NO, TITLE, PRICE, STORED_IMAGE_NAME, CATEGORY
        FROM (
        SELECT
        A.TRADE_NO,
        A.TITLE,
        A.PRICE,
        C.CATEGORY,
        B.STORED_IMAGE_NAME,
        ROW_NUMBER() OVER (PARTITION BY A.TRADE_NO ORDER BY B.IMAGE_NO) AS rn
        FROM
        TRADE_BOARD A
        JOIN
        UPLOAD_IMAGE B ON A.TRADE_NO = B.TRADE_NO
        JOIN
        CATEGORY C ON A.CATEGORY_CODE = C.CATEGORY_CODE
        WHERE A.APPROVE='Y'
        )
        WHERE rn = 1
        ORDER BY TRADE_NO DESC
    </select>

    <select id="selectSearchList" resultType="com.o2.site.trade.dto.TradeMainDto">
        SELECT
        TRADE_NO,
        TITLE,
        PRICE,
        STORED_IMAGE_NAME,
        CATEGORY
        FROM (
        SELECT
        A.TRADE_NO,
        A.TITLE,
        A.PRICE,
        B.STORED_IMAGE_NAME,
        C.CATEGORY,
        ROW_NUMBER() OVER (PARTITION BY A.TRADE_NO ORDER BY B.IMAGE_NO) AS rn
        FROM
        TRADE_BOARD A
        JOIN
        UPLOAD_IMAGE B ON A.TRADE_NO = B.TRADE_NO
        JOIN
        CATEGORY C ON A.CATEGORY_CODE = C.CATEGORY_CODE
        WHERE
        A.TITLE LIKE '%' || #{keyword} || '%' AND A.CATEGORY_CODE LIKE '%' || #{category} || '%' AND A.APPROVE = 'Y'
        )
        WHERE rn = 1
        ORDER BY TRADE_NO DESC
    </select>

    <select id="myWishList" resultType="com.o2.site.trade.dto.TradeMainDto">
        SELECT
        wl.TRADE_NO,
        TITLE,
        PRICE,
        CATEGORY,
        STORED_IMAGE_NAME
        FROM (
        SELECT
        A.TRADE_NO,
        A.TITLE,
        A.PRICE,
        C.CATEGORY,
        B.STORED_IMAGE_NAME,
        ROW_NUMBER() OVER (PARTITION BY A.TRADE_NO ORDER BY B.IMAGE_NO) AS rn
        FROM
        TRADE_BOARD A
        JOIN UPLOAD_IMAGE B ON A.TRADE_NO = B.TRADE_NO
        JOIN CATEGORY C ON A.CATEGORY_CODE = C.CATEGORY_CODE
        ) X
        JOIN WISH_LIST WL ON X.TRADE_NO = WL.TRADE_NO
        WHERE
        WL.MEMBER_NO = #{memberNo}
        AND X.rn = 1
        ORDER BY
        X.TRADE_NO DESC
    </select>

    <select id="getCg">
        SELECT
        CATEGORY
        FROM
        CATEGORY
        WHERE
        CATEGORY_CODE=#{category}

    </select>

    <select id="getBoard" resultType="com.o2.site.trade.domain.TradeDomain">
        SELECT A.*, B.ID
        FROM
        TRADE_BOARD A
        JOIN
        MEMBER B ON A.MEMBER_NO = B.MEMBER_NO
        WHERE TRADE_NO = #{tradeNo}
    </select>

    <select id="getImages">
        SELECT STORED_IMAGE_NAME FROM UPLOAD_IMAGE
        WHERE TRADE_NO = #{tradeNo}
        ORDER BY IMAGE_NO
    </select>

    <select id="getWishCount">
        SELECT COUNT(MEMBER_NO)
        FROM WISH_LIST
        WHERE TRADE_NO=#{tradeNo}
        GROUP BY TRADE_NO
    </select>

    <update id="upVisitCount">
        UPDATE
        TRADE_BOARD
        SET VISIT_COUNT = VISIT_COUNT+1
        WHERE TRADE_NO=#{tradeNo}
    </update>

    <delete id="deleteBoard">
        DELETE FROM TRADE_BOARD
        WHERE TRADE_NO=#{tradeNo}
    </delete>

    <insert id="addWish">
        INSERT INTO WISH_LIST
        VALUES(#{memberNo},#{tradeNo})
    </insert>

    <select id="selectAppList" resultType="com.o2.site.trade.dto.TradeMainDto">
        SELECT TRADE_NO, TITLE, PRICE, STORED_IMAGE_NAME, CATEGORY
        FROM (
        SELECT
        A.TRADE_NO,
        A.TITLE,
        A.PRICE,
        C.CATEGORY,
        B.STORED_IMAGE_NAME,
        ROW_NUMBER() OVER (PARTITION BY A.TRADE_NO ORDER BY B.IMAGE_NO) AS rn
        FROM
        TRADE_BOARD A
        JOIN
        UPLOAD_IMAGE B ON A.TRADE_NO = B.TRADE_NO
        JOIN
        CATEGORY C ON A.CATEGORY_CODE = C.CATEGORY_CODE
        WHERE A.APPROVE='N'
        )
        WHERE rn = 1
        ORDER BY TRADE_NO
    </select>

    <update id="approveBoard">
        UPDATE
        TRADE_BOARD
        SET
        APPROVE = 'Y' WHERE TRADE_NO = #{tradeNo}
    </update>

    <update id="rejectBoard">
        UPDATE
        TRADE_BOARD
        SET
        APPROVE = 'R' WHERE TRADE_NO = #{tradeNo}
    </update>

    <select id="getCategory" resultType="com.o2.site.trade.dto.CategoryDto">
        SELECT
        *
        FROM
        CATEGORY
    </select>

    <select id="checkWish" resultType="com.o2.site.trade.dto.CheckWishDto">
        SELECT
        *
        FROM
        WISH_LIST
        WHERE TRADE_NO=#{tradeNo} AND MEMBER_NO=#{memberNo}
    </select>

    <insert id="insertAdv" useGeneratedKeys="true" keyProperty="advNo" keyColumn="ADV_NO">
        INSERT INTO ADVBOARD
        VALUES(
        SEQ_ADV_NO.NEXTVAL,
        #{title},
        #{advName},
        #{companyName},
        #{companyLink},
        #{content}
        )
    </insert>

    <select id="getAdvList" resultType="com.o2.site.trade.dto.AdvListDto">
        SELECT ADV_NO, TITLE, ADV_NAME, COMPANY_NAME, COMPANY_LINK, CONTENT, STORED_IMAGE_NAME
        FROM (
        SELECT
        A.ADV_NO,
        A.TITLE,
        A.ADV_NAME,
        A.COMPANY_NAME,
        A.COMPANY_LINK,
        A.CONTENT,
        B.STORED_IMAGE_NAME
        FROM
        ADVBOARD A
        JOIN
        UPLOAD_IMAGE B ON A.ADV_NO = B.ADV_NO
        )
        ORDER BY ADV_NO
    </select>

    <select id="getAdvDetail" resultType="com.o2.site.trade.dto.AdvDetailDto">
        SELECT ADV_NO, TITLE, ADV_NAME, COMPANY_NAME, COMPANY_LINK, CONTENT, STORED_IMAGE_NAME
        FROM (
        SELECT
        A.ADV_NO,
        A.TITLE,
        A.ADV_NAME,
        A.COMPANY_NAME,
        A.COMPANY_LINK,
        A.CONTENT,
        B.STORED_IMAGE_NAME
        FROM
        ADVBOARD A
        JOIN
        UPLOAD_IMAGE B ON A.ADV_NO = B.ADV_NO
        WHERE A.ADV_NO=#{advNo}
        )
        ORDER BY ADV_NO
    </select>

    <delete id="deleteAdv">
        DELETE FROM ADVBOARD
        WHERE ADV_NO=#{advNo}
    </delete>

    <select id="selectMyList" resultType="com.o2.site.trade.dto.MyListDto">
        SELECT
        TRADE_NO,
        TITLE,
        PRICE,
        STORED_IMAGE_NAME,
        CATEGORY,
        APPROVE
        FROM (
        SELECT
        A.TRADE_NO,
        A.TITLE,
        A.PRICE,
        B.STORED_IMAGE_NAME,
        C.CATEGORY,
        A.APPROVE,
        ROW_NUMBER() OVER (PARTITION BY A.TRADE_NO ORDER BY B.IMAGE_NO) AS rn
        FROM
        TRADE_BOARD A
        JOIN
        UPLOAD_IMAGE B ON A.TRADE_NO = B.TRADE_NO
        JOIN
        CATEGORY C ON A.CATEGORY_CODE = C.CATEGORY_CODE
        WHERE
        A.MEMBER_NO=#{memberNo}
        )
        WHERE rn = 1
        ORDER BY TRADE_NO DESC
    </select>

    <update id="updateBoard">
        UPDATE TRADE_BOARD
        SET
        TITLE =#{title},
        CATEGORY_CODE=#{category},
        CONTENT=#{content},
        PRICE=#{price},
        ADDRESS=#{address}
        WHERE
        TRADE_NO=#{tradeNo}
    </update>

    <delete id="deleteImages">
        DELETE FROM UPLOAD_IMAGE
        WHERE TRADE_NO=#{tradeNo}
    </delete>
</mapper>