<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2.site.club.dao.ClubBoardMapper">

    <insert id="clubBoardInsert">
        INSERT INTO CLUB_BOARD (CLUB_BOARD_ID, CLUB_NAME, WRITER, TITLE, CONTENT) VALUES (SEQ_CLUB_BOARD.NEXTVAL, #{clubName}, #{writer}, #{title}, #{content})
    </insert>

    <select id="getClubBoardSeq">
        SELECT SEQ_CLUB_BOARD.CURRVAL FROM DUAL
    </select>

    <select id="getClubBoardId">
        SELECT CLUB_BOARD_ID FROM CLUB_BOARD WHERE CLUB_NAME = #{clubName} ORDER BY CLUB_BOARD_ID DESC
    </select>
</mapper>