<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2.site.club.dao.ClubScheduleMapper">
    <select id="scheduleDetailList">
        SELECT * FROM (SELECT * FROM SCHEDULE ORDER BY SCHEDULE_ID DESC)  WHERE CLUB_NAME = #{clubName} and ROWNUM <![CDATA[<=]]> 10
    </select>
</mapper>