<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2.site.club.dao.ClubMapper">

    <insert id="clubInsert">
        INSERT INTO CLUB(
        CLUB_NAME, READER_NO, CATEGORY_ID, MEMBERS_LIMIT, AGE_LIMIT_START, AGE_LIMIT_END, AREA, ONE_LINE_INTRO, INTRO)
        VALUES (#{clubName}, #{readerNo}, #{categoryId}, #{membersLimit},#{ageLimitStart},#{ageLimitEnd},#{area},#{oneLineIntro},#{intro})
    </insert>

    <select id="clubList" resultType="com.o2.site.club.dto.ClubDto">
        SELECT * FROM (
        SELECT
        ROW_NUMBER() OVER (ORDER BY CREATE_DATE DESC) AS RNUM,
        A.*,
        UI.STORED_IMAGE_NAME AS IMAGE_STR -- UPLOAD_IMAGE 테이블과 조인하여 STORED_IMAGE_NAME 가져오기
        FROM (
        SELECT *
        FROM CLUB
            <where>
                <if test="searchValue == 'clubName'">
                    AND CLUB_NAME LIKE '%' || #{keyword} || '%'
                </if>
                <if test="searchValue == 'area'">
                    AND AREA LIKE '%' || #{keyword} || '%'
                </if>
            </where>
        ) A
        LEFT JOIN UPLOAD_IMAGE UI ON A.CLUB_NAME = UI.CLUB_NAME -- 조인 추가
        ) WHERE RNUM BETWEEN  #{start} AND #{end}

    </select>

    <select id="clubListCount" resultType="int">
        SELECT COUNT(*) AS CNT
        FROM CLUB
        <where>
            <if test="searchValue == 'clubName'">
                AND CLUB_NAME LIKE '%' || #{keyword} || '%'
            </if>
            <if test="searchValue == 'area'">
                AND AREA LIKE '%' || #{keyword} || '%'
            </if>
        </where>
    </select>

    <select id="clubCategoryList">
        SELECT * FROM CLUB_CATEGORY
    </select>

    <select id="clubDeteil">
        SELECT c.*,
               cc.CATEGORY_NAME,
               (SELECT STORED_IMAGE_NAME FROM UPLOAD_IMAGE WHERE CLUB_NAME IN(c.CLUB_NAME)) AS IMAGE_STR,
               (SELECT COUNT(0) FROM CLUB_USER WHERE CLUB_NAME = #{clubName}) AS MEMBERS_COUNT
        FROM CLUB c LEFT JOIN club_category cc ON c.CATEGORY_ID = cc.CLUB_CATEGORY_ID where c.CLUB_NAME  = #{clubName}
    </select>

    <select id="clubUserInCheck">
        SELECT COUNT(0) FROM CLUB_USER WHERE USER_NO = #{userNo} AND CLUB_NAME = #{clubName} AND IN_CK = 'Y'
    </select>

    <select id="clubAppUserCheck">
        SELECT COUNT(0) FROM CLUB_USER WHERE USER_NO = #{userNo} AND CLUB_NAME = #{clubName} AND IN_CK = 'N'
    </select>

    <delete id="clubUserDelete">
        DELETE FROM CLUB_USER WHERE USER_NO = #{userNo} AND CLUB_NAME = #{clubName}
    </delete>

    <insert id="clubUserInsert">
        INSERT INTO CLUB_USER (USER_NO, CLUB_NAME, IN_CK) VALUES (#{userNo}, #{clubName}, 'N')
    </insert>
    
    <update id="clubUserIn">
        UPDATE CLUB_USER SET
            IN_CK = 'Y'
        WHERE USER_NO = #{userNo} AND CLUB_NAME = #{clubName}
    </update>

    <select id="clubAppUserList">
        SELECT A.*, M.ID
        FROM CLUB_USER A
        JOIN Member M ON M.MEMBER_NO = A.USER_NO
        WHERE A.CLUB_NAME = #{clubName} AND A.IN_CK = 'N'
        <if test="!id.equals('') and id != null">
            AND M.ID LIKE '%' || #{id} || '%'
        </if>
    </select>

    <select id="clubUserList">
        SELECT A.*, M.ID
        FROM CLUB_USER A
        JOIN Member M ON M.MEMBER_NO = A.USER_NO
        WHERE A.CLUB_NAME = #{clubName} AND A.IN_CK = 'Y'
        <if test="!id.equals('') and id != null">
            AND M.ID LIKE '%' || #{id} || '%'
        </if>
        AND A.USER_NO NOT IN (SELECT READER_NO FROM CLUB WHERE CLUB_NAME = #{clubName})
    </select>
</mapper>