<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2.site.club.dao.ClubScheduleMapper">
    <select id="scheduleList">
        SELECT * FROM SCHEDULE WHERE CLUB_NAME = #{clubName} ORDER BY SCHEDULE_ID DESC
    </select>
</mapper>