<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.o2.site.member.dao.MemberMapper">

    <insert id="insertMember" parameterType="com.o2.site.member.domain.Member">
        INSERT INTO member (id, password, name, phone_number, address)
        VALUES (#{id}, #{password}, #{name}, #{phoneNumber}, #{address})
    </insert>

        <select id="findById" resultType="com.o2.site.member.domain.Member">
            SELECT id, password, role
            FROM member
            WHERE id = #{id}
        </select>

    <!--    <select id="findById" parameterType="long" resultType="com.example.demo.domain.User">-->
    <!--        SELECT * FROM users WHERE id = #{id}-->
    <!--    </select>-->


    <!--    <update id="update" parameterType="com.example.demo.domain.User">-->
    <!--        UPDATE users SET name = #{name}, email = #{email} WHERE id = #{id}-->
    <!--    </update>-->

    <!--    <delete id="delete" parameterType="long">-->
    <!--        DELETE FROM users WHERE id = #{id}-->
    <!--    </delete>-->
</mapper>