/* 회원가입 버튼 */
.btn-light {
    display: inline-block;
    padding: 10px 30px; /* 버튼 내부 여백 (상하 좌우) */
    font-size: 20px;    /* 폰트 크기 */
    border-radius: 10px; /* 모서리 둥글게 */
    margin: 3px 0;     /* 위 아래 여백 */
    width: 200px;       /* 버튼 너비 */
    height: 50px;       /* 버튼 높이 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none; /* 텍스트 밑줄 제거 */
    border: none;       /* 테두리 제거 */
    cursor: pointer;    /* 커서 포인터로 변경 */
    transition: background-color 0.3s, transform 0.3s; /* 배경색과 변형 애니메이션 */
}