<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2.site.half.dao.OrderMapper">
    <insert id="insertOrder" parameterType="com.o2.site.half.dto.order.InsertOrderDto">
        insert into half_order(
        ORDER_NO,
        PRODUCT_NO,
        BUYER_MEMBER_NO,
        RECIPIENT_NAME,
        RECIPIENT_PHONE,
        RECIPIENT_ADDRESS
        )
        values(
        <choose>
            <when test="orderNo != null">#{orderNo}</when>
            <otherwise>SEQ_HALF_ORDER_NO.NEXTVAL</otherwise>
        </choose>,
        #{productNo},
        #{buyerMemberNo},
        #{recipientName},
        #{recipientPhone},
        #{recipientAddress}
        )
    </insert>

    <select id="findByOrderNo" resultType="com.o2.site.half.dto.order.AdminOrderDetailDto">
        select o.order_no, o.create_at, t.title, o.recipient_name, o.recipient_address, o.delivery_memo, o.invoice  from half_order o
         inner join half_product p on p.PRODUCT_NO = o.PRODUCT_NO
        inner join trade_board t on t.TRADE_NO = p.TRADE_NO
         where ORDER_NO = #{orderNo}
    </select>

    <select id="findRange" parameterType="com.o2.site.half.dao.SearchCond" resultType="com.o2.site.half.dto.order.AdminOrderJoinListDto">
        SELECT *
        FROM (
        SELECT o.ORDER_NO, o.PRODUCT_NO, p.TRADE_NO, o.CREATE_AT, t.TITLE, t.PRICE, o.RECIPIENT_NAME,
        o.state, ROW_NUMBER() OVER (ORDER BY o.ORDER_NO DESC) AS rnum
        FROM half_order o
        INNER JOIN half_product p ON o.PRODUCT_NO = p.PRODUCT_NO
        INNER JOIN trade_board t ON p.TRADE_NO = t.TRADE_NO
        INNER JOIN member m ON o.BUYER_MEMBER_NO = m.MEMBER_NO
        <where>
            <if test="searchCond.buyerMemberId != null and searchCond.buyerMemberId != ''">
                AND m.ID LIKE '%' || #{searchCond.buyerMemberId} || '%'
            </if>
            <if test="searchCond.buyerPhone != null and searchCond.buyerPhone != ''">
                AND m.phone_number LIKE '%' || #{searchCond.buyerPhone} || '%'
            </if>
            <if test="searchCond.recipientName != null and searchCond.recipientName != ''">
                AND o.RECIPIENT_NAME LIKE '%' || #{searchCond.recipientName} || '%'
            </if>
            <if test="searchCond.recipientPhone != null and searchCond.recipientPhone != ''">
                AND o.RECIPIENT_PHONE LIKE '%' || #{searchCond.recipientPhone} || '%'
            </if>
        </where>
        ) subquery
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <update id="updateOrder" parameterType="com.o2.site.half.dto.order.UpdateOrderDto">
        update half_order
        <set>
            <if test="invoice != null and invoice != ''">
                INVOICE = #{invoice},
            </if>
            <if test="state!= null and state != ''">
                STATE = #{state},
            </if>
        </set>
        where ORDER_NO = #{orderNo}
    </update>

    <delete id="deleteOrder">
        delete from half_order where ORDER_NO = #{orderNo}
    </delete>

    <select id="count" parameterType="com.o2.site.half.dao.SearchCond">
        select count(*) from half_order o
        INNER JOIN half_product p ON o.PRODUCT_NO = p.PRODUCT_NO
        INNER JOIN trade_board t ON p.TRADE_NO = t.TRADE_NO
        INNER JOIN member m ON t.MEMBER_NO = m.MEMBER_NO
        <where>
            <if test="buyerMemberId != null and buyerMemberId != ''">
                AND m.ID LIKE '%' || #{buyerMemberId} || '%'
            </if>
            <if test="buyerPhone != null and buyerPhone != ''">
                AND m.phone_number LIKE '%' || #{buyerPhone} || '%'
            </if>
            <if test="recipientName != null and recipientName != ''">
                AND o.RECIPIENT_NAME LIKE '%' || #{recipientName} || '%'
            </if>
            <if test="recipientPhone != null and recipientPhone != ''">
                AND o.RECIPIENT_PHONE LIKE '%' || #{recipientPhone} || '%'
            </if>
        </where>
    </select>
</mapper>