<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2.site.half.dao.OrderMapper">
    <select id="findByOrderNo" resultType="com.o2.site.half.domain.Order">
        select * from half_order where ORDER_NO = #{orderNo}
    </select>

    <select id="findAll" resultType="com.o2.site.half.domain.Order">
        select * from half_order
        <where>
            <if test="buyerMemberId != null and buyerMemberId != ''">
                AND BUYER_MEMBER_ID LIKE '%' || #{buyerMemberId} || '%'
            </if>
            <if test="buyerPhone != null and buyerPhone != ''">
                AND BUYER_PHONE LIKE '%' || #{buyerPhone} || '%'
            </if>
            <if test="recipientName != null and recipientName != ''">
                AND RECIPIENT_NAME LIKE '%' || #{recipientName} || '%'
            </if>
            <if test="recipientPhone != null and recipientPhone != ''">
                AND RECIPIENT_PHONE LIKE '%' || #{recipientPhone} || '%'
            </if>
        </where>
        order by ORDER_NO DESC
    </select>

    <select id="findRange" parameterType="com.o2.site.half.dao.OrderSearchCond" resultType="com.o2.site.half.domain.Order">
        SELECT *
        FROM (
        SELECT ORDER_NO, PRODUCT_NO, CREATE_AT, TITLE, CATEGORY_CODE, IMAGE, PRICE, HALF_PRICE,
        SELLER_MEMBER_NO, SELLER_MEMBER_ID, SELLER_PHONE, STATE, INVOICE, BUYER_MEMBER_NO,
        BUYER_MEMBER_ID, BUYER_PHONE, RECIPIENT_NAME, RECIPIENT_PHONE, RECIPIENT_ADDRESS,
        DELIVERY_MEMO, ROW_NUMBER() OVER (ORDER BY ORDER_NO DESC) AS rnum
        FROM half_order
        <where>
            <if test="buyerMemberId != null and buyerMemberId != ''">
                AND BUYER_MEMBER_ID LIKE '%' || #{orderSearchCond.buyerMemberId} || '%'
            </if>
            <if test="buyerPhone != null and buyerPhone != ''">
                AND BUYER_PHONE LIKE '%' || #{orderSearchCond.buyerPhone} || '%'
            </if>
            <if test="recipientName != null and recipientName != ''">
                AND RECIPIENT_NAME LIKE '%' || #{orderSearchCond.recipientName} || '%'
            </if>
            <if test="recipientPhone != null and recipientPhone != ''">
                AND RECIPIENT_PHONE LIKE '%' || #{orderSearchCond.recipientPhone} || '%'
            </if>
        </where>
        ) subquery
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>



    <insert id="insertOrder" parameterType="com.o2.site.half.dto.InsertOrderDto">
        insert into half_order (
            ORDER_NO,
            PRODUCT_NO,
            title,
            CATEGORY_CODE,
            IMAGE,
            PRICE,
            HALF_PRICE,
            SELLER_MEMBER_NO,
            SELLER_MEMBER_ID,
            SELLER_PHONE,
            BUYER_MEMBER_NO,
            BUYER_MEMBER_ID,
            BUYER_PHONE,
            RECIPIENT_NAME,
            RECIPIENT_PHONE,
            RECIPIENT_ADDRESS,
            DELIVERY_MEMO
        )
        values(
            SEQ_HALF_ORDER_NO.nextval,
            #{productNo},
            #{title},
            #{categoryCode},
            #{image},
            #{price},
            #{halfPrice},
            #{sellerMemberNo},
            #{sellerMemberId},
            #{sellerPhone},
            #{buyerMemberNo},
            #{buyerMemberId},
            #{buyerPhone},
            #{recipientName},
            #{recipientPhone},
            #{recipientAddress},
            #{deliveryMemo}
              )
    </insert>

    <update id="updateOrder" parameterType="com.o2.site.half.dto.UpdateOrderDto">
        update half_order
        <set>
            <if test="invoice != null and invoice != ''">
                INVOICE = #{invoice},
            </if>
            <if test="state!= null and state != ''">
                STATE = #{state},
            </if>
        </set>
        where ORDER_NO = #{orderNo}
    </update>

    <delete id="deleteOrder">
        delete from half_order where ORDER_NO = #{orderNo}
    </delete>
</mapper>