<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2.site.half.dao.ProductMapper">
    <insert id="insertProduct" parameterType="com.o2.site.half.dto.product.InsertProductDto">
        insert into half_product(
            PRODUCT_NO,
            TRADE_NO
        ) values (
        <choose>
            <when test="productNo != null">#{productNo}</when>
            <otherwise>SEQ_HALF_PRODUCT_NO.NEXTVAL</otherwise>
        </choose>,
            #{tradeNo}
        )
    </insert>


    <select id="findRange" resultType="com.o2.site.half.domain.Product">
        SELECT *
        FROM (
                 SELECT PRODUCT_NO, TRADE_NO, CREATE_AT, ADMIN_MEMO, STATE, ROW_NUMBER() OVER (ORDER BY PRODUCT_NO DESC) AS rnum
                 FROM half_product
             ) subquery
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <select id="findRangeWithConditions" parameterType="com.o2.site.half.dao.SearchCond" resultType="com.o2.site.half.dto.product.UserListProductDto">
        SELECT *
        FROM (
        SELECT p.PRODUCT_NO, p.TRADE_NO, p.CREATE_AT, t.title,  t.price, t.price / 2 AS half_price,  p.state, t.category_code,
               p.ADMIN_MEMO, u.stored_image_name, ROW_NUMBER() OVER (ORDER BY p.PRODUCT_NO DESC) AS rnum
        FROM half_product p
        INNER JOIN trade_board t ON p.TRADE_NO = t.TRADE_NO
        LEFT JOIN (
        SELECT trade_no, stored_image_name, ROW_NUMBER() OVER (PARTITION BY trade_no ORDER BY image_no ASC) as img_rnum
        FROM upload_image
        ) u ON t.trade_no = u.trade_no AND u.img_rnum = 1
        <where>
            <if test="searchCond.categoryCode != null and searchCond.categoryCode != 'cg_all' and searchCond.categoryCode != ''">
                AND t.category_code = #{searchCond.categoryCode}
            </if>
            <if test="searchCond.title != null and searchCond.title != ''">
                AND t.title LIKE '%' || #{searchCond.title} || '%'
            </if>
            <if test="searchCond.state != null and searchCond.state != ''">
                AND p.state = #{searchCond.state}
            </if>
        </where>
        ) subquery
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <select id="findByProductNo" resultType="com.o2.site.half.domain.Product">
        SELECT *
        FROM half_product
        WHERE PRODUCT_NO = #{productNo}
    </select>

    <update id="updateProduct" parameterType="com.o2.site.half.dto.product.UpdateProductDto">
    update half_product
    <set>
        <if test="state != null">state = #{state},</if>
        <if test="adminMemo != null">ADMIN_MEMO = #{adminMemo},</if>
    </set>
    where PRODUCT_NO = #{productNo}
    </update>

    <select id="count">
        SELECT COUNT(*) FROM half_product
    </select>

    <select id="countWithConditions" parameterType="com.o2.site.half.dao.SearchCond">
        SELECT COUNT(*)
        FROM half_product p
        INNER JOIN trade_board t ON p.TRADE_NO = t.TRADE_NO
        <where>
            <if test="categoryCode != null and categoryCode != 'cg_all' and categoryCode != ''">
                AND t.category_code = #{categoryCode}
            </if>
            <if test="title != null and title != ''">
                AND t.title LIKE '%' || #{title} || '%'
            </if>
            <if test="state != null and state != ''">
                AND p.state = #{state}
            </if>
        </where>
    </select>
</mapper>