<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2.site.half.dao.ProductMapper">
    <insert id="insertProduct" parameterType="com.o2.site.half.dto.InsertProductDto">
        insert into half_product(
            PRODUCT_NO,
            TRADE_NO,
            SELLER_MEMBER_NO,
            SELLER_MEMBER_ID,
            SELLER_PHONE,
            HALF_PRICE,
            IS_DONE
        ) values (
        <choose>
            <when test="productNo != null">#{productNo}</when>
            <otherwise>SEQ_HALF_PRODUCT_NO.NEXTVAL</otherwise>
        </choose>,
            #{tradeNo},
            #{sellerMemberNo},
            #{sellerMemberId},
            #{sellerPhone},
            #{halfPrice},
        <choose>
            <when test="isDone != null">#{isDone}</when>
            <otherwise>0</otherwise>
        </choose>
        )
    </insert>

    <select id="findRange" resultType="com.o2.site.half.domain.Product">
        SELECT *
        FROM (
        SELECT PRODUCT_NO, TRADE_NO, SELLER_MEMBER_NO, SELLER_MEMBER_ID, SELLER_PHONE, HALF_PRICE, IS_DONE, CREATE_AT, ADMIN_MEMO, ROW_NUMBER() OVER (ORDER BY PRODUCT_NO DESC) AS rnum
        FROM half_product
        ) subquery
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <select id="findRangeWithConditions" parameterType="com.o2.site.half.dao.ProductSearchCond" resultType="com.o2.site.half.dto.UserListProductDto">
        SELECT *
        FROM (
        SELECT p.PRODUCT_NO, p.TRADE_NO, p.SELLER_MEMBER_NO, p.SELLER_MEMBER_ID, p.SELLER_PHONE, t.price, p.HALF_PRICE, p.IS_DONE, p.CREATE_AT, p.ADMIN_MEMO,
        t.category_code, t.title, u.stored_image_name, ROW_NUMBER() OVER (ORDER BY p.PRODUCT_NO DESC) AS rnum
        FROM half_product p
        INNER JOIN trade_board t ON p.TRADE_NO = t.TRADE_NO
        LEFT JOIN (
        SELECT trade_no, stored_image_name, ROW_NUMBER() OVER (PARTITION BY trade_no ORDER BY image_no ASC) as img_rnum
        FROM upload_image
        ) u ON t.trade_no = u.trade_no AND u.img_rnum = 1
        <where>
            <if test="productSearchCond.categoryCode != null and productSearchCond.categoryCode != 'cg_all'">
                AND t.CATEGORY_CODE = #{productSearchCond.categoryCode}
            </if>
            <if test="productSearchCond.title != null and productSearchCond.title != ''">
                AND t.title LIKE '%' || #{productSearchCond.title} || '%'
            </if>
            AND p.is_done = 1
        </where>
        ) subquery
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <select id="findByProductNo" resultType="com.o2.site.half.domain.Product">
        SELECT *
        FROM half_product
        WHERE PRODUCT_NO = #{productNo}
    </select>

    <update id="updateProduct" parameterType="com.o2.site.half.dto.UpdateProductDto">
    update half_product
    <set>
        <if test="isDone != null">IS_DONE = #{isDone},</if>
        <if test="adminMemo != null">ADMIN_MEMO = #{adminMemo},</if>
    </set>
    where PRODUCT_NO = #{productNo}
    </update>
    <select id="count">
        SELECT COUNT(*) FROM half_product
    </select>
</mapper>