<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2.site.half.dao.ProductMapper">
    <insert id="insertProduct" parameterType="com.o2.site.half.dto.InsertProductDto">
        insert into half_product(
            PRODUCT_NO,
            TRADE_NO,
            SELLER_MEMBER_NO,
            SELLER_MEMBER_ID,
            SELLER_PHONE,
            HALF_PRICE
        ) values (
        <choose>
            <when test="productNo != null">#{productNo}</when>
            <otherwise>SEQ_HALF_PRODUCT_NO.NEXTVAL</otherwise>
        </choose>,
            #{tradeNo},
            #{sellerMemberNo},
            #{sellerMemberId},
            #{sellerPhone},
            #{halfPrice}
        )
    </insert>

    <select id="findRange" resultType="com.o2.site.half.domain.Product">
        SELECT *
        FROM (
        SELECT PRODUCT_NO, TRADE_NO, SELLER_MEMBER_NO, SELLER_MEMBER_ID, SELLER_PHONE, HALF_PRICE, IS_DONE, CREATE_AT, ADMIN_MEMO, ROW_NUMBER() OVER (ORDER BY PRODUCT_NO DESC) AS rnum
        FROM half_product
        ) subquery
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <select id="findByProductNo" resultType="com.o2.site.half.domain.Product">
        SELECT *
        FROM half_product
        WHERE PRODUCT_NO = #{productNo}
    </select>

    <update id="updateProduct" parameterType="com.o2.site.half.dto.UpdateProductDto">
    update half_product
    <set>
        <if test="isDone != null">IS_DONE = #{isDone},</if>
        <if test="adminMemo != null">ADMIN_MEMO = #{adminMemo},</if>
    </set>
    where PRODUCT_NO = #{productNo}
    </update>
    <select id="count">
        SELECT COUNT(*) FROM half_product
    </select>
</mapper>