<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>모임</title>
    <th:block th:fragment="insertHead">
        <script
                src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
                crossorigin="anonymous"></script>
        <script src="/js/club/function.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                // 카테고리 option불러오기
                $.ajax({
                    type : "GET",
                    url : "/club/getCategory",
                    dataType : "json",
                    success : function(result) {
                        console.log(result);
                            let optionText = '';
                        for(var i = 0; i < result.length; i++) {
                            optionText += `
                                <option value="`+result[i].clubCategoryId+`">
                                    `+result[i].categoryName+`
                                </option>
                            `;
                        }

                        $('#categoryId').html(optionText);
                    }
                });

                // 이미지 로드
                $("#imgAddDiv").click(function(input){
                    document.getElementById('thumbnail').click();
                    const fileDOM = document.querySelector('#thumbnail');
                    const previews = document.querySelectorAll('#image');

                    fileDOM.addEventListener('change', () => {
                      const reader = new FileReader();
                      reader.onload = ({ target }) => {
                        previews[0].src = target.result;
                      };
                      reader.readAsDataURL(fileDOM.files[0]);
                    });
                });
                $('#createGo').click(function(){
                    let clubName = $('#clubName').val();
                    let categoryId = $('#categoryId').val();
                    let membersLimit = $('#membersLimit').val();
                    let ageLimitStart = $('#ageLimitStart').val();
                    let ageLimitEnd = $('#ageLimitEnd').val();
                    let area = $('#area').val();

                    let dataArr = [clubName,categoryId,membersLimit,ageLimitEnd,ageLimitStart,area];

                    let result = handleNullInArray(dataArr);

                    console.log(result);
                    if (result == 0) {
                        alert("값이 없습니다.");
                        return;
                    } else {
                        $('#clubCreateForm').submit();
                    }
                });
            });

        </script>
    </th:block>


</head>

<body>

<main>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">모임</li>
                <li class="breadcrumb-item active" aria-current="page">모임 생성</li>
            </ol>
        </nav>
        <h2 class="mb-2">모임 생성</h2>
        <form action="/club/createAction" method="post" enctype="multipart/form-data" id="clubCreateForm">
            <div class="mb-3">
                <label for="clubName" class="form-label">모임명</label>
                <input type="text" class="form-control" id="clubName" name="clubName" placeholder="">
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="categoryId" class="form-label">카테고리</label>
                    <select class="form-select" aria-label="Default" id="categoryId" name="categoryId">

                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-3">
                    <label for="membersLimit" class="form-label">최대 인원 수</label>
                    <input type="number" class="form-control" id="membersLimit" name="membersLimit" placeholder="" min="1">
                </div>
                <div class="col-3">
                    <label for="ageLimitStart" class="form-label">최소 나이</label>
                    <input type="number" class="form-control" id="ageLimitStart" name="ageLimitStart" placeholder="" min="1">
                </div>
                <div class="col-3">
                    <label for="ageLimitEnd" class="form-label">최대 나이</label>
                    <input type="number" class="form-control numInput" id="ageLimitEnd" name="ageLimitEnd" placeholder="" min="1">
                </div>
                <div class="col-3" id="imgAddDiv">
                    <img src="/images/club/imgAdd.jpg" id="image" alt="이미지가 없습니다." width="300" height="300">
                    <input type="file" id="thumbnail" style="visibility: hidden;" name="image" accept="image/*" onchange="loadFile(this)">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="area" class="form-label">지역</label>
                    <input type="text" class="form-control" id="area" name="area" placeholder="지역">
                </div>
            </div>
            <div class="mb-3">
                <label for="oneLineIntro" class="form-label">한 줄 소개</label>
                <input type="text" class="form-control" id="oneLineIntro" name="oneLineIntro" placeholder="한 줄 소개">
            </div>
            <div class="mb-3">
                <label for="intro" class="form-label">소개</label>
                <textarea class="form-control" id="intro" name="intro" rows="4"></textarea>
            </div>
            <div class="d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary" id="createGo">생성</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>