<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>모임</title>
    <th:block th:fragment="insertHead">
        <script
                src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
                crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                $("#createGo").click(function(){
                    location.href='create';
                });

                getList();
            });

            function getList(pageNo) {
                        if (pageNo == 0 || pageNo == '' || pageNo == null) {
                            pageNo = 1;
                        }
                        $('#clubTableDiv').html('');
                        let clubName = '';
                        let area = '';

                        let searchSel = $('#searchSel').val();
                        if (searchSel == 'clubName') {
                            clubName = $('#keyword').val();
                        } else if (searchSel == 'area') {
                            area = $('#keyword').val();
                        }
                        console.log(clubName);
                        console.log(area);
                        console.log(searchSel);
                        $.ajax({
                                type : "GET",
                                url : "/club/getList",
                                dataType : "json",
                                data : {'clubName' : clubName, 'area' : area, 'page' : pageNo},
                                success : function(result) {
                                    console.log(result);
                                    for (var i = 0; i < result.size; i++) {
                                    console.log('실행');
                                    let template = `
                                         <div class="col">
                                            <a class="page-link" href="detail">
                                                <div class="card h-100">
                                                    <img src="/images/club/imgAdd.jpg" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">${result.content[i].clubName}</h5>
                                                        <p class="card-text">장소 : ${result.content[i].area}</p>
                                                        <p class="card-text">연령 : ${result.content[i].ageLimitStart} ~ ${result.content[i].ageLimitEnd}<br>인원 : 20 / ${result.content[i].membersLimit}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    `;

                                $('#clubTableDiv').append(template);

                                }
                                PAGE.paging(pageNo,result.totalPages,result.totalElements);
                            }
                        });
                    }

            const PAGE = {
	            paging: function pagenation(pageNo, totalPageCount, totalElementCount) {

                if (totalElementCount == 0) {
                    $('#pagination').html('');
                    return false;
                }

                let pageBlock = 11;
                let blockNo = PAGE.toInt(pageNo / pageBlock) + 1;
                let startPageNo = (blockNo - 1) * pageBlock;
                let endPageNo = blockNo * pageBlock - 1;

                if (endPageNo > totalPageCount - 1) {
                    endPageNo = totalPageCount - 1;
                }

                let prevBlockPageNo = (blockNo - 1) * pageBlock - 1;
                let nextBlockPageNo = blockNo * pageBlock;

                 $('#pagination').html('');
                 let pageHtml = '';
                 if (prevBlockPageNo >= 0) {
                 // 나중에 수정할것 1
                 pageHtml += `
                       <li class="page-item">
                            <a class="page-link" href="#" onclick="getList(1);" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                     `;
                 }
                 for (let i = startPageNo + 1; i <= endPageNo; i++) {
                    if (i == pageNo) {
                        pageHtml += `
                            <li class="page-item active"><a class="page-link">`+(i)+`</a></li>
                        `;
                    } else {
                        pageHtml += `
                            <li class="page-item"><a class="page-link" onclick="getList(`+(i)+`)">`+(i )+`</a></li>
                        `;
                    }
                 }
                 if (nextBlockPageNo < totalPageCount) {
                     pageHtml += `
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="getList(`+ nextBlockPageNo +`)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    `;
                 }


                $('#pagination').append(pageHtml);
                },
                    toInt: function(value) {
                    if (value != null) {
                        return parseInt(value, 10);
                    }
	            }
            }

        </script>
    </th:block>


</head>

<body>

<main>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">모임</li>
            </ol>
        </nav>
        <h2 class="mb-2">모임 홍보</h2>
            <div class="inline-flex px-0  col-4  col-md-3 col-lg-2">
                    <select class="form-select form-select-sm h-100" aria-label=".form-select-sm example" id="searchSel">
                        <option selected value="clubName">모임명</option>
                        <option value="area">장소</option>
                    </select>
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 300px;" id="keyword">
                    <button class="btn btn-outline-success" type="submit" onclick="getList(1);">검색</button>
            </div>

        <div class="row row-cols-1 row-cols-md-3 g-4" id="clubTableDiv">

        </div>
        <br>
        <div class="d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary" id="/club/createGo">모임 생성</button>
        </div>
        <div class="pagination justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">

                </ul>
            </nav>
        </div>
    </div>


</main>
</body>
</html>