<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>모임</title>
    <th:block th:fragment="insertHead">
        <script
                src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
                crossorigin="anonymous"></script>
        <script src="/js/club/getParam.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                $('#deleteBtn').click(function(){
                    if (confirm('삭제 하시겠습니까?')){
                        let formData = new FormData();
                        formData.append('clubName',getClubName());

                        $.ajax({
                            type: "POST",
                            url: "/club/clubDelete",
                            dataType: "json",
                            processData : false,
                            contentType : false,
                            data:formData,
                            success: function (result) {
                                alert('모임이 삭제 되었습니다');
                                location.href='/club/main';
                            }
                        });
                    }
                });

                let switchNum = 0;
                $('#searchBtn').click(function(){

                    let keyword = $('#keyword').val();

                    if (switchNum == 0) {
                        inUserList(keyword);
                    } else {
                        appUserList(keyword);
                    }
                });
                function inUserList (keyword){
                    if (keyword === undefined) {
                        keyword = '';
                    }
                    switchNum = 0;
                    $('#userListBody').html('');
                    $.ajax({
                        type: "GET",
                        url: "/club/getClubInUserList?clubName="+getClubName()+"&id="+keyword ,
                        dataType: "json",
                        success: function (result) {
                            for (var i = 0 ; i < result.length; i++) {
                                let date = new Date(result[i].inDate);
                                let dateFormat = getFormatDate(date);
                                htmlStr = `
                                    <tr>
                                        <td>`+dateFormat+`</td>
                                        <td>`+result[i].id+`</td>
                                        <td><button class="btn btn-danger deleteUser" data="`+result[i].userNo+`">추방</button></td>
                                    </tr>
                                `;
                                $('#userListBody').append(htmlStr);
                            }
                        }
                    });
                }

                function appUserList(keyword) {
                    if (keyword === undefined) {
                        keyword = '';
                    }
                    switchNum = 1;
                    $('#userListBody').html('');
                    htmlStr = '';
                    $.ajax({
                        type: "GET",
                        url: "/club/getClubAppUserList?clubName="+getClubName()+"&id="+keyword,
                        dataType: "json",
                        success: function (result) {
                            for (var i = 0 ; i < result.length; i++) {
                                let date = new Date(result[i].inDate);
                                let dateFormat = getFormatDate(date);
                                htmlStr = `
                                    <tr>
                                        <td>`+dateFormat+`</td>
                                        <td>`+result[i].id+`</td>
                                        <td><button class="btn btn-outline-primary okUser" data="`+result[i].userNo+`">수락</button>  <button class="btn btn-danger deleteUser" data="`+result[i].userNo+`">취소</button></td>
                                    </tr>
                                `;
                                $('#userListBody').append(htmlStr);
                            }

                        }
                    });
                }

                $('#clubInUserBtn').click(function(){
                    inUserList();
                });

                $('#clubAppUserBtn').click(function(){
                    appUserList();
                });

                $('#userListBody').on('click', '.okUser', function() {

                    let formData = new FormData();
                    let userNo = $(this).attr('data');

                    formData.append('userNo',userNo);
                    formData.append('clubName',getClubName());
                    $.ajax({
                        url : "/club/userOk",
                        processData : false,
                        contentType : false,
                        type : 'POST',
                        data : formData,
                        success : function(data) {
                            alert('가입 완료 되었습니다.');
                            location.href='/club/userList?clubName=' + getClubName();
                        }
                    });
                });

                $('#userListBody').on('click', '.deleteUser', function() {

                    let formData = new FormData();
                    let userNo = $(this).attr('data');

                    formData.append('userNo',userNo);
                    formData.append('clubName',getClubName());

                    $.ajax({
                        url : "/club/userDeleteUser",
                        processData : false,
                        contentType : false,
                        type : 'POST',
                        data : formData,
                        success : function(data) {
                            alert('가입이 취소 되었습니다.');
                            location.href='/club/userList?clubName=' + getClubName();
                        }
                    });
                });
            });
            function getFormatDate(date){
                let year = date.getFullYear();              //yyyy
                let month = (1 + date.getMonth());          //M
                month = month >= 10 ? month : '0' + month;  //month 두자리로 저장
                let day = date.getDate();                   //d
                day = day >= 10 ? day : '0' + day;          //day 두자리로 저장
                let hours = date.getHours(); // 시
                hours = hours >= 10 ? hours : '0' + hours;
                let minutes = date.getMinutes();  // 분
                minutes = minutes >= 10 ? hours : '0' + minutes;
                return  year + '-' + month + '-' + day + ' '+ hours + ':' + minutes;       //'-' 추가하여 yyyy-mm-dd 형태 생성 가능
            }
        </script>
    </th:block>


</head>

<body>

<main>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">모임</li>
                <li class="breadcrumb-item active" aria-current="page">모임 상세보기</li>
                <li class="breadcrumb-item active" aria-current="page">모임원 관리</li>
            </ol>
        </nav>
        <h2 class="mb-2">모임원 관리</h2>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-bottom: 20px;">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/club/detail?clubName='+getClubName();+''">메인</button>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/club/board/list?clubName='+getClubName();+''">게시판</button>
                    <button type="button" onclick="location.href='/club/schedule/list?clubName='+getClubName();+''"  class="btn btn-outline-primary">일정</button>
                </div>
            </div>
            <br>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-bottom: 20px;">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary" id="clubInUserBtn">모임원</button>
                    <button type="button" class="btn btn-outline-primary" id="clubAppUserBtn">요청</button>
                </div>
            </div>
            <div class="d-md-flex justify-content-md-end">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 300px;" id="keyword">
                <button class="btn btn-outline-success" type="submit" id="searchBtn">검색</button>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">가입 일</th>
                            <th scope="col">아이디</th>
                            <th scope="col">탈퇴 버튼</th>
                        </tr>
                        </thead>
                        <tbody id="userListBody">

                        </tbody>
                    </table>
                    <div class="d-md-flex justify-content-md-end">

                        <button class="btn btn-danger" type="button" id="deleteBtn">모임 삭제</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>