<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>거래디테일</title>
    <th:block th:fragment="insertHead">
    </th:block>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<main>
    <h1 align="center">상품 등록</h1>
    <form action="/trade/trade_app" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-lg" >제목</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" style="width: 70%;" name="title">

            <label class="input-group-text" for="inputGroupSelect01" >카테고리</label>
            <select class="form-select" id="inputGroupSelect01" name="category">
                <option selected value="cg_all">전체</option>
                <option value="cg_life">생활/가전</option>
                <option value="cg_fur">가구/인테리어</option>
                <option value="cg_digital">디지털</option>
                <option value="cg_book">도서/티켓</option>
                <option value="cg_game">게임/취미</option>
                <option value="cg_sports">스포츠/레저</option>
                <option value="cg_beauty">뷰티/미용</option>
                <option value="cg_man">남성의류/용품</option>
                <option value="cg_woman">여성의류/용품</option>
                <option value="cg_plant">식물</option>
                <option value="cg_animal">반려동물</option>
                <option value="cg_else">기타</option>
            </select>
        </div>
        <hr>
        <div class="row g-3 align-items-center" >
            <div class="col-auto">
                <label for="inputtext" class="col-form-label">지역: </label>
            </div>
            <div class="col-sm-4">
                <input type="text" id="inputtext" class="form-control" name="address">
            </div>
            <div class="col-auto">
                <label for="inputtext2" class="col-form-label">가격: </label>
            </div>
            <div class="col-auto">
                <input type="text" id="inputtext2" class="form-control" name="price">
            </div>
        </div>
        <hr>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">상세 내용</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="content"></textarea>
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">파일 업로드</label>
            <input class="form-control" type="file" name="files" id="formFileMultiple" multiple>
        </div>
        <div class="text-end">
            <button type="submit">글쓰기</button>
        </div>
    </form>
</main>
</body>

</html>