<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>O2 - 반값판매</title>
    <th:block th:fragment="insertHead">
        <style>
            .img-thumb{
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
        </style>
        <script src="/js/half/list.js" defer></script>
    </th:block>

</head>
<body>
<main>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">반값판매</li>
            </ol>
        </nav>
        <h1 class="mb-2">반값판매</h1>
        <div class="row mb-2 px-md-0 px-2">
            <div class="px-0  col-4  col-md-3 col-lg-2">
                <select class="form-select form-select-sm h-100 category-select" aria-label=".form-select-sm example">
                    <option>카테고리명</option>
                    <option th:each="category : ${categories}" th:text="${category.category}" th:value="${category.categoryCode}" th:selected="${category.categoryCode == selectedCategory}">One</option>
                </select>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <button type="button" class="btn btn-primary">찜목록</button>
            </div>
        </div>
        <div class="row table-responsive px-md-0 px-2 mb-2 mb-md-0">
            <table class="table table-hover table-striped align-middle px-2">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>썸네일</th>
                        <th>상품명</th>
                        <th>매입가</th>
                        <th>판매가</th>
                        <th class="text-nowrap">매입일</th>
                    </tr>
                    <tbody>
                        <tr th:each="product : ${products}">
                            <td th:text="${product.productNo}">1</td>
                            <td><img src="https://via.placeholder.com/100" class="img-thumb"
                                     th:src="@{/images/{src} (src=${product.storedImageName})}"></td>
                            <td class="text-nowrap"><a href="/half/detail/1" th:src="@{/half/detail/{no} (no=${product.productNo})}" th:text="${product.title}">한번 쓴 상품명 상품명</a></td>
                            <td th:text="${{product.price}}">10,000</td>
                            <td th:text="${{product.halfPrice}}">5,000</td>
                            <td class="text-nowrap" th:text="${{product.createdAt}}">2024-06-22</td>
                        </tr>
                    </tbody>
                </thead>
            </table>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <form action="/half/list">
                    <div class="input-group mb-3">
                        <span class="input-group-text">상품명</span>
                        <input type="hidden" th:name="${selectedCategory}">
                        <input type="search" class="form-control" placeholder="상품명을 입력하세요." name="searchTitle" aria-label="상품명을 입력하세요." aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" id="button-addon2">검색</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example w-auto">
                <ul class="pagination justify-content-center">
                    <li class="page-item"
                        th:classappend="${!pagination.prev ? 'disabled' : ''}"
                    >
                        <a class="page-link" href="#"
                           th:href="@{/half/list(selectedCategory=${selectedCategory}, searchTitle=${searchTitle}  ,page=${pagination.prevPage})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"
                        th:each="page : ${pagination.pages}"
                    ><a class="page-link" href="/half/list"
                        th:href="@{/half/list(selectedCategory=${selectedCategory}, searchTitle=${searchTitle}  ,page=${page})}"
                        th:text="${page}" th:classappend="${page == pagination.currentPage ? 'active' : ''}">1</a></li>
                    <li class="page-item"
                        th:classappend="${!pagination.next ? 'disabled' : ''}"
                    >
                        <a class="page-link" href="#" th:href="@{/half/list(selectedCategory=${selectedCategory}, searchTitle=${searchTitle}  ,page=${pagination.nextPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
</body>
</html>