<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>O2 - 반값판매 구매하기</title>
    <th:block th:fragment="insertHead">
    </th:block>

</head>
<body>
<main>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/half/list">반값판매</a></li>
                <li class="breadcrumb-item active" aria-current="page">구매하기</li>
            </ol>
        </nav>
        <h1 class="mb-5">구매하기</h1>
        <div class="row border-bottom pb-5 mb-5">
            <h2 class="fs-3">구매 상품 정보</h2>
            <div class="col-12 col-sm-6 col-md-5 col-lg-3 mb-4">
                <img src="https://via.placeholder.com/300" th:src="@{/images/{src} (src=${product.uploadImages.get(0).storedImageName})}" alt="썸네일" class="w-100">
            </div>
            <div class="col-9 col-sm-6">
                <div class="row">
                    <div class="col-12"><h3 class="fs-4">상품명</h3></div>
                    <div class="col-12"><p th:text="${product.title}">상품명</p></div>
                </div>
                <div class="row">
                    <div class="col-12"><h3 class="fs-4">정가</h3></div>
                    <div class="col-12"><p><del class="text-muted" th:text="${{product.price}}">10,000</del></p></div>
                </div>
                <div class="row">
                    <div class="col-12"><h3 class="fs-4">판매가</h3></div>
                    <div class="col-12"><p th:text="${{product.halfPrice}}">5,000</p></div>
                </div>
            </div>
        </div>
        <form action="" method="post">
            <div class="row mb-5 pb-5 border-bottom">
                <h2 class="fs-3 mb-3 px-2">구매 방법</h2>
                <h3 class="fs-4 px-2">마일리지 사용</h3>
                <div class="row align-items-center mb-3 gx-0 gx-sm-2 px-2">
                    <div class="col-4 col-sm-auto"><strong class="fs-6">전체 마일리지</strong></div>
                    <div class="col-7 col-sm-auto"><p class="mb-0 text-muted" th:text="${user.mileage}">10,000</p></div>
                    <div class="col-4 col-sm-5 mx-sm-5 mt-3 mt-sm-0"><button class="btn btn-dark h-100 py-1" type="button">전액</button></div>
                </div>
                <div class="input-group mb-3 px-2">
                    <span class="input-group-text">&#8361;</span>
                    <input type="text" class="form-control flex-grow-0" style="width: 150px;" aria-label="Amount (to the nearest dollar)">
                </div>
            </div>
            <div class="row">
                <h2 class="fs-3 mb-3 px-2">수령 정보</h2>
                <div class="row">
                    <label for="name" class="col-12 col-form-label">수령인</label>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <input type="text" class="form-control" id="name" placeholder="홍길동">
                    </div>
                </div>
                <div class="row">
                    <label for="phone" class="col-12 col-form-label">휴대전화</label>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <input type="text" class="form-control" id="phone" placeholder="01012345678">
                    </div>
                </div>
                <div class="row">
                    <label for="address" class="col-12 col-form-label">수령지</label>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <input type="text" class="form-control" id="address" placeholder="서울특별시 중구 세종대로 110">
                    </div>
                </div>
                <div class="row">
                    <label for="meno" class="col-12 col-form-label">배송메모</label>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <textarea class="form-control" id="meno" rows="3" placeholder="집 앞에 두고 가세요."></textarea>
                    </div>
                </div>
            </div>
            <div class="row gx-2 gx-lg-1">
                <div class="col-auto"><button type="submit" class="btn btn-primary w-100">구매하기</button></div>
                <div class="col-auto"><button type="reset" class="btn btn-secondary w-100">재입력</button></div>
            </div>
        </form>
    </div>
</main>
</body>
</html>